body {
  background: #ffefd5;
  color: #fff;
  font-size: 5em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container div {
  margin: 0.1em;
  text-align: center;
}
.a,
.f {
  background-color: #00F9;
  width: 100%;
  min-height: 1.25em;
}

.b {
  background-color: #00F9;
  width: 100%;
  min-height: 3.5em;
}

.c,
.d,
.e {
  background-color: #0F09;
  width: 30%;
  min-height: 1.25em;
}

@media (min-width: 650px) {
  .a {
    min-height: 2em;
  }
  .b {
    height: 0;
    width: 66%;
  }
  .c {
    order: 1;
    min-height: 1.8em;
    width: 20%;
    position: relative;
    top: -2em;
  }
  .d {
    order: 1;
    width: 20%;
    position: relative;
    top: -2em;
    left: -15.8%;
  }
  .e {
    order: 1;
    width: 20%;
    position: relative;
    top: -2em;
    left: -31.6%;
  }
  .f { 
    height: 5.5em;
    width: 28%;
  }
}